h1, h2, h3, h4, p {
    font-family: Arial, helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.general-forms {
    font-family: Arial, helvetica, sans-serif;

    text-align: center;
}

#accountInfo {
    text-align: center;
}

#gameScreenDiv {
    text-align: center;
}

#gameScreen {
    border: 1px solid black;

}

#logInButton:hover {
    background-color: lightblue;
}

#signUpButton:hover {
    background-color: lightBlue;
}

.comment {
    background-color: lightpink
}

#newCommentButton:hover {
    background-color: lightBlue;
}

#controls {
    text-align: center;

    font-family: Arial, helvetica, sans-serif;

    color: purple;

}

